@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Staatliches&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Staatliches&display=swap');
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #343434;
}
header{
    width: 100%;
    height: 15vh;
    background-color: #618264;
    border-bottom: solid #343434 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 50%;
    height: 8vh;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.5s;
}
li:hover{
    transition: 0.5s;
    color: #435334;
    background-color: #B0D9B1;
    border-radius: 8px;
}

/*formatação das sessões*/

#selection-banner{
    width: 100%;
    height: 50vh;
    background-image: url(palmeirasbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#section-cards{
 width: 100%;
 height: 60vh;
 background-color: #D0E7D2;
 display: flex;
 justify-content: space-evenly;
 align-items: center;

}

.card{
    width: 20%;
    height: 60%;
    border: 3px solid #435334;
    box-shadow: 20px 20px 50px  rgba(0, 0, 0, 0.521);
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.img-card{
    width: 100%;
    height: 70%;
    background-color: #618264;
}

.text-card{
    width: 100%;
    height: 30%;
    background-color: #B0D9B1;
    
}

.titulo-card{
    font-family: 'Staatliches', cursive;
    font-size: 125%;
    text-align: start;
    
}

.text-card{
    font-family: Arial, Helvetica, sans-serif;
    
}

.p-card{
    font-size: 80%;
    text-align: end;

}
#secao3{
    height: 60vh;
    width: 100%;
    background-color: #B0D9B1;
    display: flex;
    align-items: center flex;
    justify-content: space-around;
}

#text-secao3{
    width: 40%;
    height: 70%;
    font-family: 'Staatliches', cursive;
    margin-left: 10%;
}
#img-secao3{
    align-items: flex-end;
    margin-right: 10%;
    
}
#text-secao3 > h1{
    font-family: 'Signika', sans-serif;
    font-size: 2.5em;
    
}
#text-secao3 >h2{
    padding-top: 5%;
}
#text-secao3 >p{
    padding-top: 5%;
}
hr{
    border: 2px solid #435334;
    
}
    








